body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
  }
  
  .back-link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .back-link:hover {
    text-decoration: underline;
  }
  
  nav {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #ddd;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  .counter {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  #num-arrows {
    font-size: 24px;
    font-weight: bold;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
  }
  
  button {
    padding: 20px 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
  }
  
  button:focus {
    outline: none;
  }
  
  button:hover {
    background-color: #555;
  }
  